/* * { 
    box-sizing: border-box; 
 } */

 /*    Estructura General       */

body {
    font-family: 'Roboto', sans-serif;
    width: 90vw;
}

header {
    background-color: #EAC926;
}

main {
    width: 90vw;
    margin: auto;
    background-color: #ebebeb;
}

footer {
    max-width: 100%;
    background-color: white;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

}

/* Estructura Particular */

.navbar {
    display: none;
}

.articulos {
    margin: 10px;
    background-color: white;
}

.detalleArticulos {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

#logo {
    width: 80%;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

.cuotas {
    width: 400px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.burger-menu {
    color:#03264C;
    width: 25px;
    margin: auto; 
}

.fa-bars {
    background-color: #ebebeb; 
    background-size: cover; 
}

.precio {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a; 
}

.descripciones {
    font-size: 16px;
    display: none;
}

.imagenArticulo {
    width: 70vw; 
    margin: auto;
    
}

.fa-truck {
    color: #39b54a;
    border: solid 1px;
    border-radius: 50%;
}


.footerData h4 {
    color: #666;
    text-align: center;
}

.footerData p, .footerSeudo {
    text-align: center;
}

.fa-handshake {
    color:#03264C;
    margin-left: 45%;
}


.fa-gift {
        color:#03264C;
        margin-left: 45%;
    }

.fa-credit-card {
    color: #03264C;
    margin-left: 45%;
}


/* Tablets */

@media (min-width: 361px) {
    .descripciones {
        display: block;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .navbar {
        display: block;
    }

    .burger-menu {
        display: none; 
    }


}

/* Desktop */

@media (min-width: 769px) {
    
}


/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */